.h1{
  text-align:center;
  font-family:Arial, Helvetica, sans-serif;
  width: 100%;
}

.header {
  background-color:#a3a3a380;
}

.rem {
  row-gap: 1rem;
  column-gap: 1rem;
}

.flex-container-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
}

.body {
  background-image: url('Background.jpg');
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

* {
    box-sizing: border-box;
  }

  .maxheight {
    max-height: 79%;
  }

  .height {
    height: 100%;
  }

  .center {
    display:flex;
    width: 40%;
    justify-content: center;
    flex-grow: 1;
  }
  
  .side {
    background-color: #b1b1b136;
    width: 14%; /* The width is 20%, by default */
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    padding: 1rem;
    text-align: center;
    min-height: 1rem;
  }
  
  .main {
    display: flex;
    justify-content: center;
    width: 100%; /* The width is 60%, by default */
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
  }


  /* Use a media query to add a break point at 800px: */
  @media screen and (max-width: 800px) {
    .side, .main, .footer, .center{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      font-size: 50%;
    }
  }

  .footer {
    background-color: rgb(255, 255, 255);
    justify-content: center;
    color: white;
    padding: 1rem;
    text-align: center;
    max-height: 100px;
  }

  .bild {
    max-height: 100px;
  }

  a:link, a:visited {
    
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
  }
  
  a:hover, a:active {
    background-color: #8093ff80;
  }